.idea
idea
/core/custom/config/cms/.dev
/core/vendor/
.tx/
.gitattributes
/assets/backup/
/assets/tvs/
/core/composer.lock
/core/.phpstorm.meta.php
/core/_ide_helper.php
/core/_ide_helper_models.php
/assets/plugins/multifields/config/example.slider.php
/assets/plugins/multifields/config/example.table.php
/assets/plugins/multifields/config/example.thumb.php
/assets/plugins/multifields/config/example.toolbar.php
/info/
/trash/
/changelog.txt
/install.php
/core/src/
/core/storage/logs/
/core/config/database/connections/
/core/custom/config/app/providers/IdeHelperServiceProvider.php
/core/custom/.env.example
/.htaccess
/test2.php
/core/custom/config/tracy/
/core/custom/define.php.example
/core/custom/routes.php.example
/core/composer.json
/assets/files/exchange/bank/export/arc/b2021/b2021.01/
/assets/modules/clientsettings/config/tab10.php.sample
/assets/modules/clientsettings/config/tab20.php.sample
/assets/modules/clientsettings/config/tab30.php.sample
/assets/plugins/templatesedit/configs/custom_fields.example.php
/assets/plugins/templatesedit/configs/fields.php
/assets/plugins/templatesedit/configs/template__default.php
/assets/plugins/templatesedit/configs/template_default.php
/core/lang/uk/
/robots.txt
/backup.zip
/assets/lib/Helpers/
/assets/lib/SimpleTab/
/Dockerfile
/cb1a94f5dc782e5d7a02ec58edf06f85
/commitizen.config.js
/composer.json
/composer.lock
/config.php.example
/ddadb.php
/docker-compose.yml
/docker/
/google113c98e6fb9e0d23.html
/ht.access
/index.php
/manager/
/package-lock.json
/package.json
/sample-robots.txt
/test.html
/test.php
/test.txt
/tests/
/vendor/
/core/factory/
/core/functions/
/core/modifiers/
/core/storage/blade/
/core/storage/bootstrap/
/core/storage/cache/
/core/storage/mdf/
/core/storage/sessions/
/core/sudyLog.txt
/core/updateCommissions20220201.txt
/core/storage/ttfontdata/
/core/includes/
/core/composer/
/core/.htaccess
/core/.install
/core/artisan
/core/bootstrap.php
/core/lang/
/core/storage/
/assets/files/
/assets/snippets/
/assets/site/
/assets/plugins/updater/
/assets/plugins/transalias/
/assets/plugins/tinymce4/
/assets/plugins/templatesedit/tpl/
/assets/plugins/templatesedit/.htaccess
/assets/plugins/templatesedit/class/templatesedit.class.php
/assets/plugins/templatesedit/class/templateseditbuilder.class.php
/assets/plugins/multifields/elements/
/assets/plugins/index.html
/assets/plugins/multifields/.htaccess
/assets/plugins/multifields/__autoload.php
/assets/plugins/multifields/base/Compress.php
/assets/plugins/multifields/base/Core.php
/assets/plugins/multifields/base/Elements.php
/assets/plugins/multifields/base/Front.php
/assets/plugins/multifields/base/FrontElements.php
/assets/plugins/extrascheck/
/assets/plugins/console/
/assets/plugins/codemirror/
/assets/modules/store/
/assets/modules/index.html
/assets/modules/clientsettings/core/
/assets/lib/class.summary.php
/assets/lib/Module/
/assets/lib/MODxAPI/
/assets/lib/Formatter/
/assets/lib/.htaccess
/assets/lib/APIHelpers.class.php
/assets/js/
/assets/index.html
/assets/import/
/assets/images/
/assets/fonts/
/assets/export/
/assets/docs/
/assets/captcha/
/assets/cache/
/assets/.thumbs/